---

concourse-db:
  image: postgres:9.5
  ports: ["5432:5432"]
  environment:
    POSTGRES_DB: concourse
    POSTGRES_USER: concourse
    POSTGRES_PASSWORD: changeme
    PGDATA: /database

#concourse-web:
#  image: concourse/concourse:1.6.1-rc.60
#  links: [concourse-db]
#  command: web
#  ports: ["8080:8080"]
#  volumes: ["./keys/web:/concourse-keys"]
#  environment:
#    CONCOURSE_BASIC_AUTH_USERNAME: concourse
#    CONCOURSE_BASIC_AUTH_PASSWORD: changeme
#    CONCOURSE_EXTERNAL_URL: {{ansible_ec2_public_hostname}}
#    CONCOURSE_POSTGRES_DATA_SOURCE: |
#      postgres://concourse:changeme@concourse-db:5432/concourse?sslmode=disable
#
#concourse-worker:
#  image: concourse/concourse:1.6.1-rc.60
#  privileged: true
#  links: [concourse-web]
#  command: worker
#  volumes: ["./keys/worker:/concourse-keys"]
#  environment:
#    CONCOURSE_TSA_HOST: concourse-web