./concourse/docker/concourse_linux_amd64 web \
  --basic-auth-username concourse \
  --basic-auth-password changeme \
  --external-url http://{{ansible_ec2_public_hostname}}:8080 \
  --postgres-data-source postgres://concourse:changeme@{{ansible_ec2_local_ipv4}}:5432/concourse?sslmode=disable \
  --tsa-authorized-keys concourse/docker/keys/web/authorized_worker_keys \
  --tsa-host-key concourse/docker/keys/web/tsa_host_key \
  --session-signing-key concourse/docker/keys/web/session_signing_key